
.carouselContainer{
    margin-top: 10px;
    display: flex;
    margin-left: 30px;
    margin-right: 60px;
   
    
   
    align-items: center;
   
   
 
}
.kitchenType{
    margin-left: 90px;


}

.kitchenType>span{
    font-size: 20px;
    color: gray
}